parameters:
    level: 6
    treatPhpDocTypesAsCertain: false

    paths:
        - lib

    excludePaths:
        - lib/PHPExiftool/Driver/TagGroup/*
        - lib/PHPExiftool/Tool/Command/DumpCommand.php
        - lib/PHPExiftool/Driver/Value/*
        - lib/PHPExiftool/Driver/AbstractType.php
        - lib/PHPExiftool/ClassUtils